<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1><%= current_user.user_name if current_user %></h1>
    <p> <%= flash[:errors] %> </p>
    <% in_or_out = current_user ? 'out' : 'in' %>
    <% url_in_or_out = current_user ? session_url : new_session_url %>
    <form action="<%= url_in_or_out %>" method='post' >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <% if current_user %>
        <input type="hidden" name="_method" value="delete">
      <% end %>
      <input type="submit" value="Log <%= in_or_out %> " >
    </form>
    <%= yield %>
  </body>
</html>
