<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1><%= current_user.user_name if current_user %></h1>
    <p> <%= flash[:errors] %> </p>
    <% if current_user %>
    <form action="<%= session_url %>" method='post' >
      <input type="hidden" name="_method" value="delete">
    <% else %>
    <form action="<%=new_session_url%>" method="get">
    <% end %>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <% in_or_out = current_user ? 'out' : 'in' %>
      <input type="submit" value="Log <%= in_or_out %> " >
    </form>
    <%= yield %>
  </body>
</html>
